@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Roboto;
}

.Title {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

.Navigation > a {
    transition: 500ms;
    background-color: rgb(30, 30, 30);
    color: rgb(225, 225, 225);
    text-decoration: none;
    text-align: center;
    padding: 10px 0 10px 0;
    display: inline-block;
    width: 20%;
}

.Navigation > a:hover {
    transition: 500ms;
    background-color: rgb(50, 50, 50);
    color: rgb(205, 205, 205);
}

.Navigation > .About {
    width: 100%;
}

.Hero {
    position: absolute;
    margin-top: 81.28px;
}

.Main > div > p {
    font-size: 20px;
    margin-left: 20px;
    text-indent: 20px;
}

.Main > div > h2 {
    margin-left: 50px;
}

.Navigation {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.Header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.footer {
    padding-top: 20px;
    margin-top: 250px;
    background-color: rgb(30, 30, 30);
    width: 100%;
}

.footer-main {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.footer-main > div > img {
    width: 25%;
}

.footer-main > div > a {
    color: rgb(95, 95, 255);
}

.footer-main > div {
    text-align: center;
}

.Main {
    margin-top: 100px;
}

.DogCard {
    width: 50%;
}

.DogCard-conatiner {
    display: flex;
    justify-content: center;
}

.GitHubLink {
    margin-left: 40px;
}